/* Reset de estilos básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2; /* Color de fondo general */
}

.container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #000; /* Negro */
    color: #fff;
    padding: 10px 0;
    position: relative; /* Posición relativa para hijos absolutos */
}

header .logo {
    width: 100px; /* Ajusta el tamaño según tu logo */
}

header h1 {
    font-size: 1.8em;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

header nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

header nav ul li a:hover {
    background-color: #333; /* Verde oscuro */
}

main {
    padding: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción de aspecto para video 16:9 */
    overflow: hidden;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.video-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1; /* Asegura que esté encima del video */
    width: 80%; /* Ajusta el ancho del overlay */
}

.overlay h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2em;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #000; /* Negro */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Estilos específicos para el botón del header */
header nav ul li a.btn {
    padding: 8px 15px; /* Ajuste de padding */
}

/* Media query para botones en dispositivos móviles */
@media (max-width: 768px) {
    .btn {
        padding: 8px 15px; /* Ajuste de padding para dispositivos móviles */
    }
}
